<article id = "article">
    {% include "search.html" %}
    {% include "slider.html" %}
    {% include "cart.html" %}

    <div id = "pannel">

    </div>

    <div id = "inContentArticle">
    <div class = "header">
        <p class = "fatext_head">محصولات پرطرفدار</p>
    </div>
    <div class = "content"><img src = "../static/image/12_2.png" class = "m_img">
        <p class = "fatext2">کفش مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 120000 تومان</p>
        <button class="buyButton fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>
    <div class = "content"><img src = "demo_2/img/16.png" class = "m_img">
        <p class = "fatext2">کیف مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 80000 تومان</p>
        <button class="buyButton fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>
    <div class = "content"><img src = "demo_2/img/7.jpg" class = "m_img">
        <p class = "fatext2">کفش مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 140000 تومان</p>
        <button class="buyButton fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>

    <div class = "content"><img src = "demo_2/img/9.jpg" class = "m_img">
        <p class = "fatext2">کفش مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 120000 تومان</p>
        <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>
    <div class = "content"><img src = "demo_2/img/18.png" class = "m_img">
        <p class = "fatext2">کیف مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 80000 تومان</p>
        <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>
    <div class = "content"><img src = "demo_2/img/22.jpg" class = "m_img">
        <p class = "fatext2">کفش مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 140000 تومان</p>
        <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>

    <div class = "div_content">

        <div class = "header">
            <p class = "fatext_head">پیشنهادهای ما برای شما</p>
        </div>

        <div class = "content"><img src = "../static/image/9.jpg" class = "m_img">
            <p class = "fatext2">کفش مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 120000 تومان</p>
            <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
        </div>
        <div class = "content"><img src = "demo_2/img/18.png" class = "m_img">
            <p class = "fatext2">کیف مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 80000 تومان</p>
            <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
        </div>
        <div class = "content"><img src = "demo_2/img/22.jpg" class = "m_img">
            <p class = "fatext2">کفش مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 140000 تومان</p>
            <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
        </div>

    </div>

    <div class = "content"><img src = "demo_2/img/9.jpg" class = "m_img">
        <p class = "fatext2">کفش مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 120000 تومان</p>
        <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>
    <div class = "content"><img src = "demo_2/img/18.png" class = "m_img">
        <p class = "fatext2">کیف مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 80000 تومان</p>
        <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>
    <div class = "content"><img src = "demo_2/img/22.jpg" class = "m_img">
        <p class = "fatext2">کفش مجلسی زنانه</p><p class = "fatext2">دسته: عالی</p><p class = "fatext2">قیمت: 140000 تومان</p>
        <button class="fatext btn btn-primary btn-wide">اضافه به سبد خرید</button>
    </div>

</div>

</article>