<div id = "search">
    <div id = "select">
        <select id = "frst_select" class = "fatext btn-primary dropdown-inverse">

        </select>
    </div>

    <div id = "select">
        <select id = "snd_select" class = "fatext btn-primary dropdown-inverse">

        </select>
    </div>

    <div id = "input">
        <input id = "textInput" type="text" placeholder="...عبارت جستجو را وارد کنید" class="fatext1 form-control" />
    </div>

    <div id = "search_btn">
        <button id = "searchBtn" class="fatext btn btn-primary btn-wide">جستجو</button>
    </div>
</div>