<div id = "slider">
    <div id="examples_outer">
        <div id="slider_container_2">

            <div id="SliderName_2" class="SliderName_2">
                {% for pic in s_pic %}
                    <a href = "#"><img src={{ pic }} width="750" height="450" alt="Demo2 first" title="Demo2 first" usemap="#img1map" /></a>
                    <div class="SliderName_2Description">Featured model: <strong>Charlize Theron</strong></div>
                {% endfor %}


            </div>
            <div class="c"></div>
            <div id="SliderNameNavigation_2"></div>
            <div class="c"></div>

            <script type="text/javascript">
                effectsDemo2 = 'rain,stairs,fade';
                var demoSlider_2 = Sliderman.slider({container: 'SliderName_2', width: 750, height: 450, effects: effectsDemo2,
                    display: {
                        autoplay: 3000,
                        loading: {background: '#000000', opacity: 0.5, image: 'demo_2/img/loading.gif'},
                        buttons: {hide: true, opacity: 1, prev: {className: 'SliderNamePrev_2', label: ''}, next: {className: 'SliderNameNext_2', label: ''}},
                        description: {hide: true, background: '#000000', opacity: 0.4, height: 50, position: 'bottom'},
                        navigation: {container: 'SliderNameNavigation_2', label: '<img src="demo_2/img/clear.gif" />'}
                    }
                });
            </script>

            <div class="c"></div>
        </div>

    </div>
</div>