body {
  margin: 0;
  abackground-image: url('cloth.jpg');
}

.astriped {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-linear-gradient(70deg, #C2DAE2 0%, #C2DAE2 5%, #062934 5%, #062934 10%, #016380 10%, #016380 15%,#0098BA 15%, #0098BA 20%, #63666B 20%,#63666B 25%);
  opacity: 0.7;
}

.astriped2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-linear-gradient(110deg, #C2DAE2 0%, #C2DAE2 5%, #062934 5%, #062934 10%, #016380 10%, #016380 15%,#0098BA 15%, #0098BA 20%, #63666B 20%,#63666B 25%);
  opacity: 0.5;
}

header{
	background-color: #282828;
	display: block;
	height: 40%;
	opacity: 1;
}

nav{
	display: block;
	margin-top: 10px;
	height: 10%;
	background-color: #B3FF3F;
	background: -webkit-linear-gradient(top, #B5C57C 0, #B3FF3F 10%, #B5C57C 100%) no-repeat;
	abackground: #B3FF3F;
}

.dropdown{
	padding-top: 25px;
	padding-right: 10px;
	float: right;
}

ul{
	list-style-type: none;
}

.active{
	font-size: 16px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	display: block;
	float: right;
	margin: 20px;
}

#first_img{
	width: 370px;
	height: 370px;
	float: left;
	border-radius: 110px;
	margin-left: 90px;
}

.text1{
	color: white;
	text-align: right;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif, 'Nazanin';
	font-size: 60px;
	margin-right: 160px;
	margin-top: -1px;
	padding-top: 30px;
}

.text2{
	color: white;
	text-align: right;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
	font-size: 30px;
	margin-right: 160px;
}

#search{
	display: tabel-cell;
	width: 66%;
	height: 9%;
	background-color: #CCFF33;
	border-radius: 20px;
	margin: 20px;
	box-shadow: #B5C57C;
}

select{
	float: left;
	margin: 20px;
	width: 150px;
	height: 30px;
}

#input{
	width: 200px;
	margin: 20px;
	float: left;
}

#search_btn{
	padding: 20px;
}

article{
	display: block;
	margin-left: 350px;
    height: 100%;
	afloat: left;
}

#inContentArticle{
	display: block;
	float: left;
	width: 66%;
}
.div_content{
    width: 100%;
	display: block;
	float: left;
}

.fatext{
	color: white;
	text-align: center;
	margin-right: 40px;
	spadding-right: 20px;
	font-family: 'Tahoma', 'Arial';
	font-size: 13px;
}

.textfa{
	color: white;
	text-align: center;
	font-family: 'Tahoma', 'Arial';
	font-size: 15px;
}

.fatext1{
	color: black;
	text-align: center;
	margin-right: 40px;
	spadding-top: 20px;
	font-family: 'Tahoma', 'Arial';
	font-size: 13px;
}

.fatext2{
	color: black;
	text-align: right;
	margin-right: 40px;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: 'Tahoma', 'Arial';
	font-size: 15px;
}

.fatext_head{
	color: white;
	text-align: center;
	margin-right: 40px;
	padding-top: 20px;
	font-family: 'Tahoma', 'Arial';
	font-size: 25px;
}

.header{
	display: block;
	width: 100%;
	height: 10%;
	afloat: left;
	background-color: #404040;
	margin-left: 20px;
	margin-bottom: 20px;
	opacity: 1;
	border-radius: 20px;
}

.pagin{
	display: block;
	width: 66%;
	height: 10%;
	afloat: left;
	abackground-color: #f0f040;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	apadding-left: 180px;
	opacity: 1;
	border-radius: 20px;
}

.content{
	display: block;
	width: 250px;
	height: 390px;
	float: left;
	background-color: #C0C0C0;
	margin-left: 20px;
	margin-bottom: 20px;
	opacity: 0.8;
	border-radius: 20px;
	cursor: pointer;
}

.cart{
	position: absolute; top: 560px; left: 0px; height: 200px; width: 300px; bottom: 300px;
	border-radius: 20px;
	cursor: pointer;
	background-color: #C0C0C0;
	margin-left: 20px;
	margin-bottom: 20px;
}

#pannel{
	position: absolute; top: 730px; left: 0px; min-height: 300px; width: 300px;
	border-radius: 20px;
	cursor: pointer;
	background-color: #C0C0C0;
	margin-left: 20px;
	margin-bottom: 20px;
}

.omit{
	float: right;
	width: 35px;
	height: 35px;
	
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 10px;
}

.omit_pic{
	width: 20px;
	height: 20px;
}

img{
    cursor: pointer;
}

.btn{
	float: right;
}

.buyButton{
    margin-bottom: 20px;
}

.content:hover{
	opacity: 1;
}

.m_img{
	display: block;
	width: 190px;
	height: 200px;
	margin: auto;
}

.m_img2{
    display: block;
	width: 70%;
	height: 60%;
	margin: auto;
}

footer{
	display: block;
	width: 100%;
	background-color: gray;
	height: 10%;
	float: right;
	margin-top: 20px;
}

.text{
	color: white;
	text-align: right;
	margin-left: 50px;
	font-family: 'Tahoma';
	font-size: 13px;
}

a{
	color: white;
	margin-right: 20px;
}

a:hover{
	color: white;
	cursor: pointer;
}

#container{
	width: 1583px;
	height: 800px;
	margin: auto;
}

.switch {
    width: 150px;
    height: 35px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    apadding: 13px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.5s ease 0s;
    -moz-transition: background-color 0.5s ease 0s;
    -ms-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
}
.switch-menu {
    background: #3498db;
    position: relative;
    atop: 28px;
    aleft: 10px;
    opacity: 0;
    margin: 0;
    padding-left: 0;
    -webkit-transition: opacity 0.5s ease 0s;
    -moz-transition: opacity 0.5s ease 0s;
    -ms-transition: opacity 0.5s ease 0s;
    -o-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
}
.switch-menu_li {
    list-style: none;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease 0s;
    -moz-transition: height 0.5s ease 0s;
    -ms-transition: height 0.5s ease 0s;
    -o-transition: height 0.5s ease 0s;
    transition: height 0.5s ease 0s;
}
.a {
    display: block;
    color: white;
    width: 120px;
    text-decoration: none;
    padding: 10px;
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

ul li ul{
	background: #3498db;
    position: relative;
    right: 128px;
    top: -38px;
    opacity: 0;
    margin: 0;
    padding-left: 0;
    -webkit-transition: opacity 0.5s ease 0s;
    -moz-transition: opacity 0.5s ease 0s;
    -ms-transition: opacity 0.5s ease 0s;
    -o-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
}

ul li ul li{
	list-style: none;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease 0s;
    -moz-transition: height 0.5s ease 0s;
    -ms-transition: height 0.5s ease 0s;
    -o-transition: height 0.5s ease 0s;
    transition: height 0.5s ease 0s;
}

.switch:hover li:hover ul{
	opacity: 1;
}

.switch:hover ul li:hover ul li{
	height: 40px;
    overflow: visible;
}

.switch:hover .switch-menu {
    opacity: 1;
}
.switch:hover .switch-menu li {
    height: 40px;
    overflow: visible;
}
.switch:hover ul li a:hover {
    padding-left: 15px;
    background-color: #4aa3df;
}

.product{
	display: block;
	width: 18%;
	height: 25%;
	float: left;
	background-color: #C0C0C0;
	margin-left: 20px;
	margin-bottom: 20px;
	opacity: 0.8;
	border-radius: 20px;
}

.main_div{
	display: block;
	width: 100%;
	height: 70%;
	afloat: right;
	background-color: #C0C0C0;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.dscp{
	width: 60%;
	float: right;
}

.img{
	width: 30%;
	float: right;
}

.img img{
	width: 200px;
	height: 200px;
	margin: 20px;
}

.relative{
	width: 80%;
	float: right;
	margin-top: 60px;
	border: 1px dotted;
	margin-right: 50px;
}

.slider_img{
	width: 120px;
	height: 120px;
	margin: 10px;
	afloat: left;
	opacity: 0.8;
}

.slider_img:hover{
	opacity: 1;
}

.obj_img{
    cursor: pointer;
}

#name{
	margin: 20px;
	width: 200px;
	float: right;
}

#comment{
	margin: 20px;
	width: 90%;
	height: 200px;
	float: right;
}